<p>PyScanFCS and <a href="http://FCS-analysis.github.io/PyCorrFit/">PyCorrFit</a> were both developed by <a href="http://www.biotec.tu-dresden.de/~paulm/">Paul Müller</a>.</p>

<p>
Affiliation: <br>
I currently work in the group of <a href="http://www.biotec.tu-dresden.de/research/guck.html">Prof. Jochen Guck</a> in the <a href="http://www.biotec.tu-dresden.de/">Biotec</a>hnology Center of the <a href="http://www.tu-dresden.de/">TU Dresden</a>.
</p>

<p>
PyScanFCS was partly developed in the group of <a href="http://www.biochem.mpg.de/en/rd/schwille/">Petra Schwille</a>.
</p>
