<p>PyScanFCS and <a href="http://pycorrfit.craban.de">PyCorrFit</a> were bothed developed by <a href="http://www.biotec.tu-dresden.de/~paulm/">Paul Müller</a></p>

<p>
Affiliation: <br>
<ul>
    <li><a href="http://www.biotec.tu-dresden.de/research/guck.html">Prof. Jochen Guck</a></li>
    <li><a href="http://www.biotec.tu-dresden.de/">Biotec</a></li>
    <li><a href="http://www.tu-dresden.de/">TU Dresden</a></li>
</ul>
</p>

<p>
PyScanFCS was partly developed in the group of <a href="http://www.biochem.mpg.de/en/rd/schwille/">Petra Schwille</a>.
</p>
