<img src="./images/PyScanFCS_logo_dark.png"  height="60" width="208">
<p>data analysis software for perpendicular line scanning fluorescence correlation spectroscopy.</p>

<ul>
  <li><a href = "https://github.com/paulmueller/PyScanFCS/releases">Download <strong>Executable</strong></a></li>
  <li><a href = "https://github.com/paulmueller/PyScanFCS/zipball/master">Download <strong>Source</strong></a></li>
  <li><a href = "https://github.com/paulmueller/PyScanFCS/raw/master/PyScanFCS_doc.pdf">Download <strong>Documentation</strong></a></li>
  <li><a href = "https://github.com/paulmueller/PyScanFCS/wiki">View <strong>Wiki</strong></a></li>
  <li><a href = "https://github.com/paulmueller/PyScanFCS">View on <strong>GitHub</strong></a></li>
</ul>
